#favorite_manga {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.MangaTile {
    width: 240px;
    height: 320px;
    display: grid;
    grid-template-rows: 300px 20px;
    border: solid red 1px;
}

.MangaTileCover {
    height: 300px;
    width: 240px;
}

.MangaTileTitle {
    height: 20px;
    text-align: center;
}
