* {
  margin:0;
  padding:0;
}

#favorite_manga {
  display: grid;
  justify-items: center;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1ch 1ch;
  padding: 1ch;
}

.MangaTile {
  width: 120px;
  height: 200px;
  display: grid;
  grid-template-rows: 180px 20px;
  border: solid red 1px
}

.MangaTileCover {
  height: 180px;
}

.MangaTileTitle {
  height: 20px;
  text-align: center;
}
